@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Permanent+Marker&display=swap');

*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
}

:root {
    --primary-color: #E9C46A;
    --secondary-color: #2A9D8F ;
    --accent1-color: #e76f5123 ;
    --accent2-color: #317894;

    --heading-font:'Permanent Marker', cursive;
    --paragraph-font:'Nunito', sans-serif;

    --navigation-background-color: #8dcac3 ;
    --nav-link-color:#E76F51 ;
    --nav-hover-link-color:#E76F51 ;
    --nav-hover-background-color:#8dcac3 ;
}

main {
    max-width: 100%;
    text-align: left;
}


.home {
    display: grid;
	grid-template-columns: 1fr;
    justify-content: space-around;
}

.home img {
    grid-column: 1;
    width: 950px;
    height: auto;
    padding: 0;
}

.home h3 {
    text-align: center;
}

.book-home{
    width: 40%;
    margin-left: 33%;
    margin-top: 50px;
    margin-right: 40%;
    background-color: rgb(187, 87, 5);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.hero {
    position: relative;
    margin: 1px auto;
    max-width: 950px;
    padding: 1px;
    margin-bottom: 300px;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0;
    z-index: -1;
}

.hero h1 {
    position: absolute;
    font-family: var(--paragraph-font);
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 25px;
    text-align: center;
    color: var(--primary-color);
    background-color:#0000006c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero article {
    position: absolute;
    margin-top: 100px;
    box-shadow: 0 0 30px #111111b0;
	opacity: 0.9;
    width: 100%;
    height: auto;
    z-index: 2;
}

.hero article img {
    position: absolute;
    box-sizing: content-box;
    padding: 10px;
    float: right;
    width: auto;
    height: 110px;
    margin-top: 15px;
    margin-left: 670px;
    background-color:var(--accent1-color);
    color: var(--primary-color);
}

.hero article p {
    position: absolute;
    box-sizing: border-box;
    float: left;
    padding: 10px;
    width: 550px;
    height: 130px;
    margin-left: 120px;
    margin-top: 15px;
    background-color:var(--accent1-color);
    color: var(--primary-color);
    text-align: left;
    
}

body {
    font-family: var(--heading-font);
    max-width: 960px;
    padding: 1px;
    align-items: center;
    align-content: center;
  }

section {
    width: 60rem;
    text-align: left;
    margin-top: 15px;
}

.history {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    grid-auto-flow: column;
    max-width: 100%;
}
.history img {
    display: grid;
	grid-column: 2;
    object-fit: cover;
    height: 90%;
    width: 90%;
    
}

.history p{
    display: grid;
	text-align: start;
    text-align: justify;
}

h1 {
    font-family: var(--paragraph-font);
    font-size: 30px;
    max-width: 960px;
    margin-top: 1px;
    padding: 0;
    color: var(--accent2-color);
    text-align: center; 
}

h2 { 
    font-family: var(--paragraph-font);
    font-size: 30px;
    max-width: 960px;
    margin-top: 1px;
    padding: 0;
    color: var(--accent2-color);
    text-align: center;
}

h3 { 
    font-size: 33px;
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 0;
    color: var(--accent2-color)
}

main img{
    display: block;
    width: 50%;
    height: auto;
    padding-top: 5px;
}

p {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;    
}

header img {
    width: 8rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

.navigation {
    display: flex;
    list-style: none;
    align-content:space-around;
}

.navigation li {
    max-width: 100%;
}

.navigation a {
    display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
    max-width: fit-content;
    width: 170px;
    text-align: center;
}

.pictures {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}

.book{
    width: 40%;
    margin-left: 33%;
    margin-right: 40%
}


.trips {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.trips figure {
    display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.trips figure img {
    grid-column: 1;
    width: 300px;
    height: auto;
}

.trip figure p {
    grid-row: 2;
}

.trip figure h3 {
    max-height: 50px;
}

figure{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

figure img {
    width: 9em;
    grid-column: 1;
    margin: 0;
    border: 0;
    padding: 0;
  }
  
figcaption {
    background-color: #22222259;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    grid-row: 2;
    text-align: center;
}

footer{
    display: grid;
	grid-template-columns: 1fr 1fr;
    margin-top: 5px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 5px;
}

footer nav{
    display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
}

.sociallinks {
    width: 20px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.sociallinks img {
    width: 30px;
}

a {
    text-decoration: none;
}

footer p {
    text-align: left;
}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .3rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
}

legend {
padding: 0.5rem;
color: navy;
font-size: 1.3em;
}

label, input, button,select {
    font-family: 'Times New Roman', Times, serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
}

.column1 {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    margin: 0.1rem 0;
}

.column2 {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    margin: 1px 0;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="radio"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

/* information calss selector */
.information {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.information figure {
    display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.information figure img {
    grid-column: 1;
    width: 300px;
    height: auto;
}

.information figure p {
    grid-row: 2;
}

.information figure h3 {
    max-height: 50px;
}