
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Permanent+Marker&display=swap');


:root {
    --primary-color: #E9C46A;
    --secondary-color: #2A9D8F ;
    --accent1-color: #E76F51 ;
    --accent2-color: #264653;

    --heading-font:'Permanent Marker', cursive;
    --paragraph-font:'Nunito', sans-serif;

    --navigation-background-color: #8dcac3 ;
    --nav-link-color:#E76F51 ;
    --nav-hover-link-color:#E76F51 ;
    --nav-hover-background-color:#8dcac3 ;
}


body {
  font-family: var(--heading-font);
  max-width: 960px;
  padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--navigation-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

